<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>{% block title %}{% endblock %} - FirstDerm</title>
    <meta name="description" content="Dermatology AI made easy" />
    <meta name="author" content="Ricardo Ander-Egg" />
    {% endblock %}
  </head>
  <body>
    <div id="content" class="flex justify-center items-center">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %} &copy;
      <a href="https://www.firstderm.com/">FirstDerm</a>. {% endblock %}
    </div>
    <!-- {% if DEBUG %} {{ hotreload.script(url_for('ws')) }} {% endif %} -->
  </body>
</html>
